*{
  font-family: 'Crimson Text', serif;
}

body{
left: 0;
top: 0;
width: 99vw;
padding: 0;
margin: 0;

background-color: #20273b;
}


/*
#titlebar{

    height: 5rem;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .15rem;    
    max-width: 80rem;
    margin: 0 auto; 
    margin-bottom: 1rem;
    
}
h2{
   font-size: 308%; 
}
   */





#fileEntry{
    height: 10rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255,.4);
    max-width: 94%;
    margin: 0 auto;
    padding: 0;
    border: 1px solid rgba(40,40,40,1);
    margin-top: 2vh;
    margin-bottom: .1vh;
    
}
#innerBox{
    height: 100vh;
    display: block;
    background-color: rgba(255, 255, 255,.1);
    width: 94vw;
    margin: 0 auto;
    border: 1px solid rgba(40,40,40,1);
    
}







#fileDetails{
    justify-content: space-evenly;
    gap: 1rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255,.4);    
    max-width: 94%;
    margin: 0 auto; 
    border: 1px solid rgba(40,40,40,1);
    font-size:115%;
    margin-bottom: .1vh;
}





#submissionButtons{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255,.4);
    justify-content: space-evenly;
    border: 1px solid rgba(40,40,40,1);
    max-width: 94%;
    margin: 0 auto; 
    margin-bottom: .1vh;
}
.buttons{
    width: 10%;
    height: 50%;
    border-radius: 5px;
    border: none;
}








#summaryBox{
    height: 5rem;
    justify-content: space-evenly;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255,.4);    
    max-width: 94%;
    margin: 0 auto; 
    font-size: 160%;
    border: 1px solid rgba(40,40,40,1);
    margin-bottom: .1vh;
}
#downloadBox{
    height: 5rem;
    justify-content: space-evenly;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255,.4);    
    max-width: 94%;
    margin: 0 auto; 
    font-size: 75%;
    border: 1px solid rgba(40,40,40,1);
}
#downloadLink{
    font-size: 190%;
    color: black;
}